/*------------------------------------- 
----------- Global Styles -------------
---------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Default font */
body {
	font-family: 'Roboto', sans-serif;
}


/*-------------------------------------*/
